<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AVPlayerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA7EB7A11C0B26F00094930A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA7EB7B51C0B26F10094930A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA7EB7C01C0B26F10094930A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
